@font-face {
  font-family: 'Nunito Sans';
  src: url('./nunito-sans-200.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('./nunito-sans-200italic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('./nunito-sans-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('./nunito-sans-300italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('./nunito-sans-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('./nunito-sans-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('./nunito-sans-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('./nunito-sans-500italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('./nunito-sans-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('./nunito-sans-600italic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('./nunito-sans-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('./nunito-sans-700italic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('./nunito-sans-800.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('./nunito-sans-800italic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('./nunito-sans-900.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('./nunito-sans-900italic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}